<div class="row small-up-2 medium-up-3 large-up-4">
    <div class="column">
    general: <br>
    <a href="/">home</a> <br>
    <a href="./carrers.html">careers</a> <br>
    <a href="./investor relations.html">investor relations</a> <br>
    <a href="./other.html">other</a>
    <hr>
    </div>

    <div class="column">
    pets:<br>
    <a href="./pets">pets home</a> <br> 
    <a href="./pets/toys.html">toys</a> <br>
    <a href="./pets/food.html">food</a> <br>
    <a href="./pets/other.html">other</a>
    <hr>
    </div>

    <div class="column">
    movies:  <br>
    <a href="/movies">movies home</a> <br> 
    <a href="./carrers.html">careers</a> <br>
    <a href="./investor relations.html">investor relations</a> <br>
    <a href="./other.html">other</a>
    <hr>
    </div>  

    <div class="column">
    travel:  <br>
    <a href="/travel">travel home</a> <br> 
    <a href="./carrers.html">flights</a> |
    <a href="./carrers.html">cruises</a> |
    <a href="./carrers.html">daytrips</a> <br>
    <a href="./investor relations.html">hotels</a> |
    <a href="./other.html">car rentals</a><br>
    <a href="./other.html">insurence</a> |
    <a href="./other.html">attractions </a>|
    <a href="./other.html">information </a><br>
    <hr>
    </div>   

    <div class="column">
    music:  <br>
    <a href="/">home</a> <br> 
    <a href="./carrers.html">careers</a> <br>
    <a href="./investor relations.html">investor relations</a> <br>
    <a href="./other.html">other</a>
    <hr>
    </div> 

</div>